### Calculate the distance from location point to closest point from a tornado path/line

In [92]:
import pandas as pd
import math

In [93]:
locDF = pd.read_csv('data/capitals.csv')
torDF = pd.read_csv('data/predicted_data2.csv')
newDF = pd.read_csv('data/New_Tornado_Data.csv')

In [94]:
# Add two new empty columns
locDF['minDist'] = 0
locDF['Index'] = 0
locDF['mag'] = 0

locDF

             State    Capital City   Latitude   Longitude  minDist  Index  mag
0          Alabama      Montgomery  32.377716  -86.300568        0      0    0
1           Alaska          Juneau  58.301598 -134.420212        0      0    0
2          Arizona         Phoenix  33.448143 -112.096962        0      0    0
3         Arkansas     Little Rock  34.746613  -92.288986        0      0    0
4       California      Sacramento  38.576668 -121.493629        0      0    0
5         Colorado          Denver  39.739227 -104.984856        0      0    0
6      Connecticut    Hartford<br>  41.764046  -72.682198        0      0    0
7         Delaware           Dover  39.157307  -75.519722        0      0    0
8           Hawaii        Honolulu  21.307442 -157.857376        0      0    0
9          Florida     Tallahassee  30.438118  -84.281296        0      0    0
10         Georgia     Atlanta<br>  33.749027  -84.388229        0      0    0
11           Idaho           Boise  43.617775 -116.199722        0      0    0
12        Illinois     Springfield  39.798363  -89.654961        0      0    0
13         Indiana    Indianapolis  39.768623  -86.162643        0      0    0
14            Iowa      Des Moines  41.591087  -93.603729        0      0    0
15          Kansas          Topeka  39.048191  -95.677956        0      0    0
16        Kentucky       Frankfort  38.186722  -84.875374        0      0    0
17       Louisiana     Baton Rouge  30.457069  -91.187393        0      0    0
18           Maine         Augusta  44.307167  -69.781693        0      0    0
19        Maryland       Annapolis  38.978764  -76.490936        0      0    0
20   Massachusetts          Boston  42.358162  -71.063698        0      0    0
21        Michigan         Lansing  42.733635  -84.555328        0      0    0
22       Minnesota        St. Paul  44.955097  -93.102211        0      0    0
23     Mississippi         Jackson  32.303848  -90.182106        0      0    0
24        Missouri  Jefferson City  38.579201  -92.172935        0      0    0
25         Montana          Helena  46.585709 -112.018417        0      0    0
26        Nebraska         Lincoln  40.808075  -96.699654        0      0    0
27          Nevada     Carson City  39.163914 -119.766121        0      0    0
28   New Hampshire         Concord  43.206898  -71.537994        0      0    0
29      New Jersey         Trenton  40.220596  -74.769913        0      0    0
30      New Mexico        Santa Fe  35.682240 -105.939728        0      0    0
31  North Carolina         Raleigh  35.780430  -78.639099        0      0    0
32    North Dakota        Bismarck  46.820850 -100.783318        0      0    0
33        New York          Albany  42.652843  -73.757874        0      0    0
34            Ohio        Columbus  39.961346  -82.999069        0      0    0
35        Oklahoma   Oklahoma City  35.492207  -97.503342        0      0    0
36          Oregon           Salem  44.938461 -123.030403        0      0    0
37    Pennsylvania      Harrisburg  40.264378  -76.883598        0      0    0
38    Rhode Island      Providence  41.830914  -71.414963        0      0    0
39  South Carolina        Columbia  34.000343  -81.033211        0      0    0
40    South Dakota          Pierre  44.367031 -100.346405        0      0    0
41       Tennessee       Nashville  36.165810  -86.784241        0      0    0
42           Texas          Austin  30.274670  -97.740349        0      0    0
43            Utah  Salt Lake City  40.777477 -111.888237        0      0    0
44         Vermont      Montpelier  44.262436  -72.580536        0      0    0
45        Virginia        Richmond  37.538857  -77.433640        0      0    0
46      Washington         Olympia  47.035805 -122.905014        0      0    0
47   West Virginia      Charleston  38.336246  -81.612328        0      0    0
48       Wisconsin         Madison  43.074684  -89.384445        0      0    0
49         Wyoming        Cheyenne  41.140259 -104.820236        0      0    0

In [95]:
torDF

,Unnamed: 0,index,om,yr,tz,stf,stn,mag,inj,fat,...,slon,len,wid,fc,p_elat,p_elon,Time,sDate,sTime,Predicted_Time
0,14,5182,390,1960.0,3,19,10,2,0,0,...,-94.20,1.0,200,0,44.453200,-93.787489,0.0,6/16/1960,13:00:00,1900-01-01 13:00:00
1,29,5130,339,1960.0,3,20,40,0,0,0,...,-97.15,0.1,10,1,0.057051,-0.125474,20.0,6/1/1960,20:00:00,1900-01-02 16:00:00
2,31,4801,9,1960.0,3,1,1,1,0,0,...,-88.10,0.1,10,0,4.640357,-11.252404,16.0,2/4/1960,15:52:00,1900-01-02 07:52:00
3,76,20393,601,1960.0,3,29,33,1,0,0,...,-92.13,0.2,10,0,38.652224,-98.387333,3.0,11/19/1960,13:30:00,1900-01-01 16:30:00
4,105,20207,415,1960.0,3,17,33,2,0,0,...,-88.65,0.1,10,0,45.722189,-96.802818,3.0,6/23/1960,2:00:00,1900-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,6577,19993,201,1960.0,3,5,17,2,2,0,...,-93.45,2.6,320,0,17.345008,-30.618189,25.0,5/6/1960,8:30:00,1900-01-02 09:30:00
372,6588,5078,286,1960.0,3,48,29,2,0,0,...,-96.58,2.7,67,0,0.999073,-2.557320,20.0,5/20/1960,5:15:00,1900-01-02 01:15:00
373,6624,20296,504,1960.0,3,38,9,0,0,0,...,-102.90,0.1,10,1,0.126790,-0.375090,92.0,8/2/1960,17:00:00,1900-01-05 13:00:00
374,6642,4929,137,1960.0,3,48,14,1,0,0,...,-96.95,0.2,17,0,35.346239,-95.081721,1.0,5/4/1960,14:40:00,1900-01-01 15:40:00
375,6671,19978,186,1960.0,3,40,58,2,0,0,...,-95.58,1.0,400,0,38.630034,-89.405139,2.0,5/5/1960,21:30:00,1900-01-01 23:30:00

### Find minimum distance (km) from tornado line to location point and then store values in location df

# Working Solution
### Formula: https://stackoverflow.com/questions/32771458/distance-from-lat-lng-point-to-minor-arc-segment

In [96]:
def bear(latA, lonA, latB, lonB):
    b = math.atan2( math.sin(math.radians(lonB-lonA))*math.cos(math.radians(latB)), math.cos(math.radians(latA))*math.sin(math.radians(latB)) - math.sin(math.radians(latA))*math.cos(math.radians(latB))*math.cos(math.radians(lonB-lonA)) )
    return b

def dis(latA, lonA, latB, lonB):
    d = math.acos( math.sin(math.radians(latA))*math.sin(math.radians(latB)) + math.cos(math.radians(latA))*math.cos(math.radians(latB))*math.cos(math.radians(lonB-lonA)) ) * R
    return d

In [97]:
for i, loc in locDF.iterrows():
    
    for j, tor in newDF.iterrows():

        R=6371; # Earth's radius in kilometers
        pi = 3.14159265359
        
        # Prerequisites for the formulas
        bear12 = bear(tor['slat'],tor['slon'],tor['p_elat'],tor['p_elon'])
        bear13 = bear(tor['slat'],tor['slon'],loc['Latitude'],loc['Longitude'])
        dis13 = dis(tor['slat'],tor['slon'],loc['Latitude'],loc['Longitude']);
        dis23 = dis(tor['p_elat'],tor['p_elon'],loc['Latitude'],loc['Longitude'])
        disAdd = dis13 + dis23
        
        diff = abs(bear13-bear12)

        if diff > pi:
            
            diff = 2 * pi - diff

        # if (distance(A, C) + distance(B, C) == distance(A, B))
        if disAdd == dis12: # Is the point on the line?
            
            dxa = 0            
        elif diff>(pi/2): # Is relative bearing obtuse?
            
            dxa=dis13
            
        else:
            
            # Find the cross-track distance.
            dxt = math.asin( math.sin(dis13/R)* math.sin(bear13 - bear12) ) * R

            # Is p4 beyond the arc?
            dis12 = dis(torDF.at[j, 'slat'],torDF.at[j, 'slon'],torDF.at[j, 'p_elat'],torDF.at[j, 'p_elon'])
            dis14 = math.acos( math.cos(dis13/R) / math.cos(dxt/R) ) * R
            
            if dis14>dis12:
                
                dxa=dis(tor['p_elat'],tor['p_elon'],loc['Latitude'],loc['Longitude'])
                
            else:
                
                dxa=abs(dxt)

        # Set minimum distance variable (km)
        if j == 0:
            locDF.at[i, 'minDist'] = dxa
            locDF.at[i, 'Index'] = tor['index'] # Save index of row with min_dist to loc df
            locDF.at[i, 'mag'] = tor['mag'] # Save mag of row with min_dist to loc df

        if dxa < locDF.at[i, 'minDist']:
            locDF.at[i, 'minDist'] = dxa
            locDF.at[i, 'Index'] = tor['index']# Save index of row with min_dist to loc d
            locDF.at[i, 'mag'] = tor['mag'] # Save mag of row with min_dist to loc df

KeyError: 'p_elat'

In [ ]:
newDF

### Export df

In [ ]:
locDF.to_csv(r'data\locationNearestTorNoNull.csv')