In [7]:
import pandas as pd
import geopandas as gpd
from pymongo import MongoClient

import json
import pprint

from bson import json_util, ObjectId
from pandas.io.json import json_normalize

### Connect to MongoDB Atlas

In [3]:
client = MongoClient('mongodb+srv://wm84:121992@cluster0.kxwpm.mongodb.net/central_db?retryWrites=true&w=majority')
db = client.central_db

### List collection names (collection = table from relational db)

In [4]:
db.list_collection_names()

['inciweb_wildfires',
 'esri_wildfires',
 'gdac_geojson',
 'worldaware',
 'Tornado_Point',
 'esri_active_siesmic_events',
 'Hail_Point',
 'Tornadoes_SPC_1950to2015',
 'hurricane_forecast',
 'hurricane_observation',
 'tornado_path',
 'poweroutage_county',
 'esri_active_hurricanes',
 'capitals_csv',
 'Wind_Point']

### Get geo collection

In [4]:
hurricaneColl = db.esri_active_hurricanes

In [6]:
hurricaneColl.count_documents({})

11

### Read geojson file

In [7]:
#with open('WorldAware_Data_Parsed.geojson', encoding="utf8") as f:
 #   file_data = json.load(f)

### Import into geo collection

In [8]:
#geoColl.insert_one(file_data)

### Query to find category_name with value 'Wildfire'
'doc' is a dictionary of the JSON object obtained from find() method (find() method is basically SELECT from SQL).

In [9]:
for doc in db.esri_active_hurricanes.find({"properties.category_name": "Wildfire"}):
    pprint.pprint('id = ' + doc['properties']['id'] + ', name = ' + doc['properties']['name'])

'id = 919830, name = US - Multiple Wildfires - Oregon Upd. 7'
'id = 919911, name = US - Cameron Peak Fire - Colorado Upd. 5'
'id = 919960, name = US - Multiple Wildfires - Calif. Upd. 3'
'id = 911820, name = Russia - Wildfire Season - Nationwide'
'id = 911820, name = Russia - Wildfire Season - Nationwide'
'id = 911820, name = Russia - Wildfire Season - Nationwide'
'id = 912528, name = Greece - Wildfire Season - Nationwide'
'id = 912544, name = US - Wildfire Season - West'
'id = 915588, name = Brazil - Wildfire Season - Nationwide'

### Geospatial Query to find events near specific coordinates (Toronto [-79.3, 43.5])
This query uses geospatial operations to find documents (World Events in this case) near 100 meters of the given coordinates.

In [10]:
for doc in db.esri_active_hurricanes.find({'geometry': {'$near': {'$maxDistance': 100, '$geometry': {'type': "Point", 'coordinates': [-79.5, 43.5]}}}}):
    pprint.pprint('id = ' + doc['properties']['id'] + ', type = ' + doc['properties']['category_name'] + ', name = ' + doc['properties']['name'])

('id = 919611, type = Entry/Exit, name = Canada - Restrictions - Nationwide '
 'Upd. 4')
'id = 914387, type = Health, name = Canada - COVID-19 - Nationwide Upd. 6'

### Turn into data

### Geospatial query to find events within the USA

### Create new collection and insert data

### Rename collection

In [14]:
db.ss.rename("esri_active_hurricanes", session=None)

{'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1603229029, 2),
  'signature': {'hash': b'--\xbb*\x97\xd6\x8cs\xf9\xe3g4\x9e\xda\x92\xb4\x91\xdb\x12`',
   'keyId': 6880058315611570179}},
 'operationTime': Timestamp(1603229029, 2)}

In [9]:
sanitized = json.loads(json_util.dumps(db.Tornadoes_SPC_1950to2015.find()))
normalized = json_normalize(sanitized)
df2 = pd.DataFrame(normalized)

del df2['_id.$oid']

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,fat,loss,closs,slat,slon,elat,elon,len,wid,fc
0,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,0,6,0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,0,5,0,39.1,-89.3,39.12,-89.23,3.6,130,0
2,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0,4,0,40.88,-84.58,0,0,0.1,10,0
3,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,1,3,0,34.4,-94.37,0,0,0.6,17,0
4,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,0,5,0,37.6,-90.68,37.63,-90.65,2.3,300,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75109,607506,2015,12,28,12/28/2015,3:20:00,3,LA,22,0,...,0,0,0,30.08,-90.54,30.08,-90.53,0.6,150,0
75110,613277,2015,12,28,12/28/2015,4:46:00,3,AR,5,0,...,0,0.05,0,34.7,-90.92,34.78,-90.9,5.75,40,0
75111,607307,2015,12,28,12/28/2015,5:43:00,3,MS,28,0,...,0,0.1,0,31.54,-89.53,31.61,-89.49,5.59,100,0
75112,612738,2015,12,28,12/28/2015,8:30:00,3,FL,12,0,...,0,0.01,0,30.76,-87.24,30.77,-87.23,0.78,75,0
75113,612739,2015,12,28,12/28/2015,15:58:00,3,NC,37,0,...,0,0.05,0,34.88,-80.53,34.89,-80.52,0.9,75,0

In [10]:
df2.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,fat,loss,closs,slat,slon,elat,elon,len,wid,fc
0,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,0,6,0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,0,5,0,39.1,-89.3,39.12,-89.23,3.6,130,0
2,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0,4,0,40.88,-84.58,0,0,0.1,10,0
3,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,1,3,0,34.4,-94.37,0,0,0.6,17,0
4,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,0,5,0,37.6,-90.68,37.63,-90.65,2.3,300,0