In [272]:
#Import Libraries
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import geopandas as gpd
from pymongo import MongoClient
from pandas.io.json import json_normalize
import json
import pprint
import re

from bson import json_util, ObjectId
from pandas.io.json import json_normalize

In [273]:
#Connecting to MongoDB database
client = MongoClient('mongodb+srv://wm84:121992@cluster0.kxwpm.mongodb.net/central_db?retryWrites=true&w=majority')
db = client.central_db
db.list_collection_names()

['inciweb_wildfires',
 'esri_wildfires',
 'gdac_geojson',
 'worldaware',
 'Tornado_Point',
 'ncov_cases-11-24-2020',
 'esri_active_siesmic_events',
 'Hail_Point',
 'Tornadoes_SPC_1950to2015',
 '1960_predicted_tornadoes',
 'hurricane_forecast',
 'hurricane_observation',
 'new_tornado_data',
 'tornado_path',
 'poweroutage_county',
 'predicted_tornado',
 'esri_active_hurricanes',
 'capitals_csv',
 'Wind_Point']

In [274]:
#Reading jason file
sanitized = json.loads(json_util.dumps(db.new_tornado_data.find()))
normalized = json_normalize(sanitized)
t_df = pd.DataFrame(normalized)

del t_df['_id.$oid']

C:\Users\rohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [275]:
t_df.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,fat,loss,closs,slat,slon,elat,elon,len,wid,fc
0,1,1950,1,3,1/3/50,11:00:00,3,MO,29,1,...,0,6,0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/50,11:55:00,3,IL,17,2,...,0,5,0,39.1,-89.3,39.12,-89.23,3.6,130,0
2,5,1950,1,25,1/25/50,19:30:00,3,MO,29,2,...,0,5,0,37.6,-90.68,37.63,-90.65,2.3,300,0
3,7,1950,1,26,1/26/50,18:00:00,3,TX,48,1,...,0,0,0,26.88,-98.12,26.88,-98.05,4.7,133,0
4,8,1950,2,11,2/11/50,13:10:00,3,TX,48,2,...,0,4,0,29.42,-95.25,29.52,-95.13,9.9,400,0

In [258]:
t_df.shape

(33751, 22)

In [259]:
t_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33751 entries, 0 to 33750
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   om      33751 non-null  int64
 1   yr      33751 non-null  int64
 2   mo      33751 non-null  int64
 3   dy      33751 non-null  int64
 4   date    33751 non-null  object
 5   time    33751 non-null  object
 6   tz      33751 non-null  int64
 7   st      33751 non-null  object
 8   stf     33751 non-null  int64
 9   stn     33751 non-null  int64
 10  mag     33751 non-null  int64
 11  inj     33751 non-null  int64
 12  fat     33751 non-null  int64
 13  loss    33751 non-null  float64
 14  closs   33751 non-null  float64
 15  slat    33751 non-null  float64
 16  slon    33751 non-null  float64
 17  elat    33751 non-null  float64
 18  elon    33751 non-null  float64
 19  len     33751 non-null  float64
 20  wid     33751 non-null  int64
 21  fc      33751 non-null  int64
dtypes: float64(7), int64(12), object(3)
memory usage: 5.7+ MB

In [260]:
t_df.isna().sum()

om       0
yr       0
mo       0
dy       0
date     0
time     0
tz       0
st       0
stf      0
stn      0
mag      0
inj      0
fat      0
loss     0
closs    0
slat     0
slon     0
elat     0
elon     0
len      0
wid      0
fc       0
dtype: int64

### Predicting Ending Longitude & Latitude for the Tornadoes

In [261]:
X = t_df.drop(['elon','elat','st','mo','dy','date','time'], axis = 1)
y = t_df[['elat','elon']]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [262]:
from sklearn.ensemble import RandomForestRegressor
def lat_long():
    rf = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=30,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=5,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
    rf.fit(X_train, y_train)
    pred = rf.predict(X_test)
    print(evaluate(rf, X_test, y_test))
    return pred

def evaluate(model, X_test, y_test):
    predictions = model.predict(X_test)
    errors = np.sqrt(mean_squared_error(y_test, predictions))
    print('Model Performance')
    print('MSE of: ', errors)   
    return errors

In [263]:
ll = lat_long()
df_pred=pd.DataFrame(ll,columns=['pred_elat','pred_elon'])
X_test['p_elat'] = df_pred['pred_elat']
X_test['p_elon'] = df_pred['pred_elon']

Model Performance
MSE of:  0.8215897688046503
0.8215897688046503

C:\Users\rohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\rohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [264]:
X_test=X_test.dropna()
X_test=X_test.reset_index()

In [265]:
X_test.shape

(3043, 18)

## Calculating time for tornado to reach end destination

In [266]:
from math import radians, cos, sin, asin, sqrt
from datetime import datetime, timedelta

def dist(lat1, long1, lat2, long2):
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    
    dlon = long2 - long1 
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

for i in range(0,len(X_test)):
    km = dist(float(X_test.loc[i, "slat"]), float(X_test.loc[i, "slon"]), float(X_test.loc[i, "p_elat"]), float(X_test.loc[i, "p_elon"]))
    if(X_test.loc[i, "mag"]==0):
        time = (0.62*km)/73
    elif(X_test.loc[i, "mag"]==1):
        time = (0.62*km)/112
    elif(X_test.loc[i, "mag"]==2):
        time = (0.62*km)/157
    elif(X_test.loc[i, "mag"]==3):
        time = (0.62*km)/206
    elif(X_test.loc[i, "mag"]==4):
        time = (0.62*km)/260
    else:
        time = (0.62*km)/318
    temp = X_test.loc[i, "index"]
    sdate = t_df.loc[temp+2, "date"]
    actual_Lat = t_df.loc[temp+2, "elat"]
    actual_Lon = t_df.loc[temp+2, "elon"]
    stime = t_df.loc[temp+2, "time"]
    X_test.loc[X_test.index[i], 'Time'] = int(time)
    X_test.loc[X_test.index[i], 'sDate'] = sdate
    X_test.loc[X_test.index[i], 'sTime'] = stime
    X_test.loc[X_test.index[i], 'actual_Lat'] = actual_Lat
    X_test.loc[X_test.index[i], 'actual_Lon'] = actual_Lon
    
    the_time = datetime.strptime(X_test.loc[i, 'sTime'], '%H:%M:%S')
    new_time = the_time + timedelta(hours=int(time))
    X_test.loc[X_test.index[i], 'Predicted_Time'] = new_time

In [267]:
actual_Lat = t_df.loc[2361, "elat"]
sdate = t_df.loc[2361, "date"]
sdate

'4/12/64'

In [268]:
X_test.head()

,index,om,yr,tz,stf,stn,mag,inj,fat,loss,...,wid,fc,p_elat,p_elon,Time,sDate,sTime,actual_Lat,actual_Lon,Predicted_Time
0,8047,588,1990,3,21,9,3,5,0,6.0,...,73,0,45.889373,-96.266676,3.0,6/2/90,22:34:00,36.78,-86.82,1900-01-02 01:34:00
1,1731,177,1960,3,19,5,2,0,0,5.0,...,150,0,31.311013,-91.986198,4.0,5/5/60,19:10:00,35.45,-94.82,1900-01-01 23:10:00
2,1710,128,1960,3,40,25,2,6,0,5.0,...,400,0,41.448458,-88.171528,4.0,4/29/60,17:00:00,30.40,-92.60,1900-01-01 21:00:00
3,1959,312,1961,3,22,7,2,0,0,4.0,...,283,0,36.757397,-90.215733,2.0,5/14/61,17:00:00,41.12,-89.72,1900-01-01 19:00:00
4,8504,792,1992,3,19,23,3,0,0,6.0,...,73,0,34.033717,-87.361318,2.0,7/13/92,15:32:00,41.05,-82.98,1900-01-01 17:32:00

In [243]:
X_test['Predicted_Time'] = X_test['Predicted_Time'].astype(str)

In [244]:
X_test['Predicted_Time'] = X_test['Predicted_Time'].apply(lambda x: x.split(" ", 1)[1])

In [246]:
X_test.shape

(3043, 24)

In [247]:
X_test = X_test.astype({"yr": float})
X_test = X_test[(X_test['yr'] == 1960)]
X_test.shape

(51, 24)

In [248]:
X_test.to_csv("Final_data_r2.csv")

In [249]:
t_df.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,fat,loss,closs,slat,slon,elat,elon,len,wid,fc
0,1,1950,1,3,1/3/50,11:00:00,3,MO,29,1,...,0,6.0,0.0,38.77,-90.22,38.83,-90.03,9.5,150,0
1,2,1950,1,3,1/3/50,11:55:00,3,IL,17,2,...,0,5.0,0.0,39.10,-89.30,39.12,-89.23,3.6,130,0
2,5,1950,1,25,1/25/50,19:30:00,3,MO,29,2,...,0,5.0,0.0,37.60,-90.68,37.63,-90.65,2.3,300,0
3,7,1950,1,26,1/26/50,18:00:00,3,TX,48,1,...,0,0.0,0.0,26.88,-98.12,26.88,-98.05,4.7,133,0
4,8,1950,2,11,2/11/50,13:10:00,3,TX,48,2,...,0,4.0,0.0,29.42,-95.25,29.52,-95.13,9.9,400,0

## Final csv generated to visualize using Tableau dashboards

In [250]:
r = pd.read_csv("Final_data_r2.csv")

,Unnamed: 0,index,om,yr,tz,stf,stn,mag,inj,fat,...,wid,fc,p_elat,p_elon,Time,sDate,sTime,actual_Lat,actual_Lon,Predicted_Time
0,1,1731,177,1960.0,3,19,5,2,0,0,...,150,0,31.266395,-91.865021,4.0,5/5/60,19:10:00,35.45,-94.82,23:10:00
1,2,1710,128,1960.0,3,40,25,2,6,0,...,400,0,41.494135,-88.143415,4.0,4/29/60,17:00:00,30.40,-92.60,21:00:00
2,5,1791,421,1960.0,3,26,5,1,0,0,...,10,0,43.347295,-96.125766,5.0,6/24/60,17:00:00,40.25,-74.52,22:00:00
3,49,1662,1,1960.0,3,29,1,1,0,0,...,17,0,35.343867,-96.878518,3.0,1/14/60,12:15:00,35.23,-92.37,15:15:00
4,50,1796,442,1960.0,3,8,11,3,3,2,...,10,0,34.355167,-81.642765,5.0,6/28/60,23:30:00,37.70,-87.65,04:30:00
5,71,1788,417,1960.0,3,17,34,1,0,0,...,10,0,40.866128,-79.563772,5.0,6/23/60,4:03:00,39.95,-88.20,09:03:00
6,203,1786,401,1960.0,3,8,6,1,0,0,...,17,0,39.151075,-102.711599,0.0,6/23/60,2:00:00,39.98,-90.77,02:00:00
7,213,1801,455,1960.0,3,17,38,2,17,0,...,10,0,38.377021,-90.314848,0.0,7/10/60,15:00:00,46.90,-97.20,15:00:00
8,243,1668,14,1960.0,3,40,2,1,0,0,...,200,0,42.673736,-84.716269,5.0,2/9/60,20:45:00,35.40,-91.28,01:45:00
9,320,1738,185,1960.0,3,40,57,1,0,0,...,10,0,46.600244,-96.029344,6.0,5/5/60,21:30:00,36.00,-94.00,03:30:00
10,414,1829,611,1960.0,3,20,59,2,2,0,...,77,0,33.540519,-80.907822,6.0,11/28/60,18:30:00,30.65,-87.22,00:30:00
11,420,1807,494,1960.0,3,46,7,2,0,0,...,10,0,44.718580,-92.354010,2.0,8/7/60,23:15:00,36.90,-94.77,01:15:00
12,437,1703,118,1960.0,3,40,17,3,0,0,...,100,0,34.460163,-114.290807,4.0,4/28/60,19:45:00,35.20,-97.92,23:45:00
13,478,1815,556,1960.0,3,37,8,1,0,0,...,800,0,39.180686,-79.514647,2.0,10/16/60,3:10:00,28.07,-97.53,05:10:00
14,506,1684,60,1960.0,3,45,2,2,0,0,...,57,0,38.142480,-95.779560,5.0,4/14/60,16:40:00,34.52,-93.60,21:40:00
15,571,1698,103,1960.0,3,17,9,2,0,0,...,200,0,33.554372,-86.352239,2.0,4/23/60,19:00:00,45.70,-90.70,21:00:00
16,1076,1664,7,1960.0,3,5,1,1,0,0,...,17,0,45.709053,-107.213156,9.0,2/4/60,15:52:00,32.57,-89.75,00:52:00
17,1114,1723,164,1960.0,3,48,23,2,0,0,...,33,0,35.881440,-84.324358,3.0,5/5/60,14:45:00,34.83,-97.40,17:45:00
18,1192,1715,143,1960.0,3,20,13,2,0,0,...,1000,1,35.831257,-97.669455,1.0,5/4/60,19:20:00,32.87,-97.33,20:20:00
19,1210,1758,226,1960.0,3,5,21,1,0,0,...,500,0,42.311237,-98.249463,4.0,5/18/60,17:16:00,39.30,-99.83,21:16:00
20,1268,1808,510,1960.0,3,31,37,3,2,1,...,150,0,31.782101,-83.709039,5.0,8/8/60,16:00:00,43.25,-88.83,21:00:00
21,1293,1719,156,1960.0,3,40,38,3,6,0,...,10,0,32.305393,-83.897241,3.0,5/4/60,20:05:00,35.05,-96.73,23:05:00
22,1417,1804,475,1960.0,3,19,14,1,0,0,...,1500,0,35.801842,-91.326210,4.0,7/24/60,13:00:00,34.13,-91.33,17:00:00
23,1452,1676,34,1960.0,3,40,4,1,0,0,...,50,0,34.889848,-91.962376,3.0,3/29/60,17:00:00,31.63,-87.22,20:00:00
24,1673,1690,82,1960.0,3,19,2,3,5,1,...,800,0,34.568787,-91.158958,2.0,4/16/60,16:30:00,40.90,-93.17,18:30:00
25,1750,1707,122,1960.0,3,40,20,3,2,0,...,200,0,43.006914,-85.122049,4.0,4/28/60,20:58:00,35.37,-97.48,00:58:00
26,1812,1680,53,1960.0,3,17,5,2,0,0,...,130,0,47.290220,-99.616004,5.0,3/30/60,17:00:00,34.45,-81.83,22:00:00
27,1856,1818,585,1960.0,3,48,73,2,1,0,...,33,0,39.993573,-85.443965,6.0,10/18/60,17:00:00,29.78,-95.83,23:00:00
28,1874,1771,288,1960.0,3,48,31,1,1,0,...,17,0,41.675832,-91.701009,5.0,5/24/60,14:30:00,38.87,-96.03,19:30:00
29,1888,1761,252,1960.0,3,5,22,2,0,0,...,1760,0,39.128356,-94.175601,1.0,5/19/60,17:30:00,39.18,-95.95,18:30:00
30,1925,1805,479,1960.0,3,34,4,2,6,0,...,450,0,42.598363,-100.468461,8.0,7/25/60,18:30:00,43.92,-100.07,02:30:00
31,1936,1718,155,1960.0,3,40,37,2,0,0,...,50,0,42.889049,-95.741888,3.0,5/4/60,19:55:00,35.57,-97.55,22:55:00
32,1964,1741,190,1960.0,3,40,60,3,0,1,...,10,0,41.553225,-94.220414,2.0,5/6/60,0:45:00,36.95,-92.67,02:45:00
33,2008,1765,265,1960.0,3,20,24,3,1,0,...,10,0,35.601118,-92.522381,1.0,5/19/60,19:30:00,39.32,-95.00,20:30:00
34,2019,1714,140,1960.0,3,20,12,3,0,0,...,10,1,42.162288,-75.438800,6.0,5/4/60,18:00:00,34.43,-98.28,00:00:00
35,2031,1827,607,1960.0,3,20,55,2,0,0,...,10,1,46.331500,-98.024753,3.0,11/27/60,20:00:00,37.67,-96.97,23:00:00
36,2181,1730,176,1960.0,3,40,49,2,2,0,...,500,0,47.364370,-100.795262,5.0,5/5/60,19:00:00,34.57,-97.10,00:00:00
37,2225,1666,11,1960.0,3,28,1,1,0,0,...,50,0,28.370868,-81.731888,4.0,2/9/60,14:45:00,36.95,-94.73,18:45:00
38,2402,1790,419,1960.0,3,17,36,2,0,0,...,800,0,28.657143,-81.930925,5.0,6/24/60,16:35:00,40.32,-75.47,21:35:00
39,2435,1675,29,1960.0,3,37,2,1,0,0,...,10,0,32.894359,-98.915730,9.0,3/28/60,18:30:00,36.47,-99.52,03:30:00
40,2439,1729,175,1960.0,3,40,48,2,0,0,...,100,0,34.020009,-80.944288,5.0,5/5/60,19:00:00,42.05,-94.55,00:00:00
41,2518,1822,593,1960.0,3,55,10,2,0,0,...,100,0,30.512214,-92.324596,6.0,11/15/60,15:30:00,37.63,-92.40,21:30:00
42,2587,1747,200,1960.0,3,5,16,2,0,0,...,200,0,38.032545,-85.652553,2.0,5/6/60,13:05:00,39.70,-89.75,15:05:00
43,2602,1809,515,1960.0,3,40,95,3,0,0,...,200,0,39.714911,-82.285939,3.0,8/21/60,17:05:00,40.50,-83.08,20:05:00
44,2649,1743,196,1960.0,3,29,11,2,0,0,...,50,0,39.358313,-78.221883,5.0,5/6/60,1:30:00,35.52,-92.38,06:30:00
45,2711,1830,613,1960.0,3,19,27,1,0,0,...,100,0,31.586434,-99.405203,6.0,12/4/60,20:30:00,39.40,-93.92,02:30:00
46,2804,1795,441,1960.0,3,31,33,3,1,0,...,10,0,44.842131,-97.805109,1.0,6/28/60,15:45:00,44.53,-91.33,16:45:00
47,2871,1751,207,1960.0,3,5,19,2,3,0,...,500,0,39.164171,-97.575516,2.0,5/6/60,16:30:00,39.70,-88.00,18:30:00
48,2888,1713,133,1960.0,3,22,7,1,0,0,...,450,0,42.156698,-92.400281,7.0,5/4/60,17:43:00,38.70,-99.98,00:43:00
49,2892,1767,272,1960.0,3,20,25,3,1,0,...,10,0,42.907327,-95.453640,1.0,5/20/60,4:45:00,33.65,-96.55,05:45:00
50,3027,1687,77,1960.0,3,5,6,3,3,0,...,833,0,37.869092,-78.241920,4.0,4/16/60,12:05:00,40.37,-89.58,16:05:00